<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Details of <%= userInfo.itemName %>
    </title>
</head>

<body class="bg-black text-white mt-20">
    <% for(let i of userInfo.image){ %>
        <div class="flex flex-wrap justify-center md:justify-between px-12 md:px-64 items-center">
            <div class="image border-8">
                <img class="w-[350px] h-[350px] md:w-[350px] md:h-[350px] object-cover object-center"
                    src="<%=i.url%>" width="" alt="<%=i.filename%>" />
                <% } %>
            </div>
            <div class="Details text-xl pt-10 md:pt-0 font-extrabold space-y-8">
                <h3 class="">Found By: <%= userInfo.name %>
                </h3>
                <h3>Found At: <%= userInfo.location %>
                </h3>
                <h3>Contact: <%= userInfo.contact %>
                </h3>
                <h3>Email: <%= userInfo.email %>
                </h3>
                <h3>Description: <%= userInfo.description %>
                </h3>
            </div>
        </div>

        <!-- <button><a href="/edit/<%= userInfo.id %> ">Edit</a></button>
        <button><a href="/lost">Go Back</a></button>
        <button><a href="/">Home Page</a></button> -->
</body>

</html>